@font-face {
    font-family: "Avenir Next"; /* Имя шрифта */
    src: url(../fonts/AvenirNextLTPro-Demi.otf); /* Путь к файлу со шрифтом */
}

body {
    background: #a0eacb;
    font-family: Avenir Next;
    color: #707070;
}

.card-description {
    width:270px;
    height: 100%;
    float: left;
}

.standart-section {
    width: 100%;
    position: relative;
    min-height: 100px;
}

.center-x {
    margin: 0px auto;
    display: table;
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 30px;
}

.intro-logo {
    width: 500px;
    height: 100px;
}

.choose-type-header {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-preview {
    border: 5px solid #fff;
    border-radius: 2px;
    box-shadow: #666;
    -webkit-box-shadow: 0 11px 16px -11px #666;
    -moz-box-shadow: 0 11px 16px -11px #666;
    box-shadow: 0 11px 16px -11px #666;
}

.card-type-section {
    display: inline;
    width: 250px;
    float: left;
    margin: 10px;
}

.card-type-section .btn {
   width: 220px;
}

.btn {
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    background: #ff6631;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    outline:none;
    width: auto;
}

.btn img {
    height:20px;
}

.btn:hover {
    text-decoration: none;
    border: none;
    outline:none;
}

.round-btn {
    text-decoration: none;
    border: none;
    outline:none;
    background: #ff6631;
    width: 40px;
    height: 40px;
    border-radius: 20px; /* top left, top right, bottom right, bottom left */
}

.start-envi-button {
    width: 400px;
    font-size: 20px;
    margin-top: 0px;
}

ol.intro-list {
    margin-left: -30px;
    margin-top: 30px;
    list-style: none;
}

ol.intro-list li {
    counter-increment: item;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Avenir Next;
}

ol.intro-list li:before {
    margin-right: 10px;
    content: counter(item)". ";
    color: #ff6631;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

.main-section {
    margin-top: 20px;
    width: 95%;
    background: #ffffff;
    min-height: 500px;
}

.upload-btn {
    position: relative;
    padding: 10px 20px;
    margin: 0px auto;
    margin-top: 40px;
}

.upload-btn input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0; left:0;
    opacity:0;
}

.upload-btn img {
    padding-left: 10px;
}

.photo-upload img {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 50px 75px;
}

.canvas-container {
    margin: 0px auto;
    display: table;
    border: solid 2px #dedede;
}

.page {
    padding: 20px 0px;
    position: relative;
}

.page-footer {
    position: relative;
    top: -30px;
}

.page-bottom-list {
    font-size: 14px;
}

.page-bottom-list li {
    margin-left: 30px;
    text-transform: uppercase;
    display: inline;
    color: #b8d98a;
}
.page-bottom-list li:first-child {
    margin: 0px;
}

.page-bottom-list .active~li {
    color: #d9d9d9;
}

.page-bottom-list li.active {
    color: #a1a1a1;
}

.data-container {
    max-width: 800px;
}

.checkbox {
    display: table;
    margin: 0px auto;
}

.checkbox > img {
    margin-left: 10px;
}

.data-container-left {
    float: left;
}

.data-container-right {
    float: right;
}

.map, .data-results {
    height: 220px;
}

#mapPreview {
    margin: 20px;
    max-width: 200px;
    height: auto;
    border: 5px solid #fff;
    border-radius: 2px;
    box-shadow: #666;
    -webkit-box-shadow: 0 11px 16px -11px #666;
    -moz-box-shadow: 0 11px 16px -11px #666;
    box-shadow: 0 11px 16px -11px #666;
}

#results {
    margin: 20px;
}

.gallery {
    margin: 25px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    max-height: 220px;
    vertical-align: middle;
}

.gallery ul {
    list-style: none;
}

.gallery li {
    display: inline-block;
    width: 300px;
    margin: 5px;
    text-align: center;
}

.round-btn.back {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.cardTable {
    width: 100%;
}

.cardTable .cardTD {
    width: 1%;
}

.cardTable .nav {
    text-align: center;
}
